<div class="container">
  <div class="page-details">
    <div id="months-bookings">
      <div class="list-header d-flex justify-content-between">
        <H2>Your Monthly Overview</H2>
        <div>
          <a id="view-day" class="add-booking btn btn-outline-primary"> List View </a>
          <%= link_to "Add Booking", new_booking_path, method: :get, class: "add-booking btn btn-primary" %>
        </div>
      </div>
      <%= month_calendar(events: @bookings) do |date, bookings| %>
        <%= date %>
        <%= link_to "+", new_booking_path, method: :get %>
        <% @bookings.each do |booking| %>
          <% if booking.start_time == date %>
          <div>
            <%= booking.customer.name %>

          </div>
          <% end %>
        <% end %>
      <% end %>

  </div>
    <div id="todays-bookings">
      <div class="list-header d-flex justify-content-between">
        <H2>Today's bookings</H2>
        <div>
          <a id="view-month" class="add-booking btn btn-outline-primary"> Monthly Overview </a>
          <%= link_to "Add Booking", new_booking_path, method: :get, class: "add-booking btn btn-primary" %>
        </div>
      </div>
      <div class="date-pickers">
        <label for="start">Start date:</label>
        <% if params.has_key?(:start) %>
        <input type="date" id="start" name="date-start" value="<%= @start %>">
        <% else %>
        <input type="date" id="start" name="date-start" value="<%= @date %>">
        <% end %>
        <label for="start">End date:</label>
        <% if params.has_key?(:end) %>
        <input type="date" id="end" name="date-end" value="<%= @ending %>">
        <% else %>
        <input type="date" id="end" name="date-end" value="<%= @date %>">
        <% end %>
        <a id="filter" class="add-booking btn btn-outline-primary"> Filter Dates</a>
      </div>
      <div class="list-container">

        <% @bookings.each do |booking| %>
            <div class="list-card">
              <div>
                <span><%= booking.start_time.strftime('%a %d %b').to_s %> - <%= booking.end_time.strftime('%a %d %b') %></span>
                <p><%= booking.customer.name %> - <%= booking.customer.email %> - <%= number_to_currency((booking.price.to_f/100), unit: '£') %></p>
                <p><%= booking.notes%></p>
                <% if booking.customer.email? %>
                  <p>E: <%= booking.customer.email %></p>
                <% end %>
                <% if booking.customer.phone? %>
                  <p>P: <%= booking.customer.phone %></p>
                <% end %>
                <% if booking.customer.address? %>
                  <p>A: <%= booking.customer.address %></p>
                <% end %>
              </div>
              <div>
                <%= link_to "View Customer Bookings", bookings_path, class: 'btn btn-outline-primary' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
