<div class="container">
  <div class="page-details">
    <h3>New booking</h3>
    <%= simple_form_for(@booking) do |f| %>
    <div class="date_picker"><%= f.input :start_time, as: :date, html5: true, label: false, input_html: { value: Date.today } %></div>
    <div class="date_picker"><%= f.input :end_time, as: :date, html5: true, label: false, input_html: { value: Date.today } %></div>
    <%= f.input :customer, label_method: :name, value_method: :id, collection: @customers %>
    <%= f.input :price %>
    <%= f.input :notes %>
    <%= f.submit "Create booking", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
